{% include "header.html" %}
<div class="container">
<nav>
  <h2>Categories</h2>
  <ul >
    {% for i in allcategories %}
    <li style="padding-bottom:10px; font-family: 'Kulim Park', sans-serif; ">
      <a href = "{{url_for('showCategories', categories_id = i.id)}}" >{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div class="line"></div>
<article>
  <h2>{{categories.name}}</h2>
  <ul >
    {% for i in items %}
    <li>
      <a href = "{{url_for('showItem', categories_id=categories.id ,items_id=i.id)}}" >{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
  </br>
</article>
</div>
</body>
</html>
