<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Open+Sans|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <header>

      <h1 ><a href = "{{url_for('homePage')}}" >
        mathematics branches catalog</a>
      </h1>

      <div class="login">
        {%if 'username' not in session %}
        <a class="button" href="{{url_for('showLogin')}}">Login </a>
        {% else %}
        <a class="button" href="{{url_for('logout')}}">Logout </a>
        {% endif %}
      </div>

    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <h2><strong>{{message}}</strong></h2>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
