{% include "header.html" %}
<h1 class="header">New Item</h1>
<form action="{{url_for('newItem')}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="30" name="name">
  
  <p>description:</p>
  <input type="text" size="30" name="description">
  <p>Category:</p>
  <select name="category_id">
    <option value=1 >Algebra</option>
    <option value=2 >Arithmetic</option>
    <option value=3 >Geometry</option>
    <option value=4 >Trigonometry</option>
  </select>
  </br></br>
  <input class="btn" type="submit" value ="Create">
  <a href = "{{url_for('homePage')}}"><button class="btn" type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>
